<!DOCTYPE html>
<html>
	<head>
		<% include HeadView %>
		<title>Login - Plinko.IO</title>
		<link rel="stylesheet" type="text/css" href="/styles/menu.css">
		<link rel="stylesheet" type="text/css" href="/styles/generalStyle.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="/scripts/matter-js/matter.js"></script>
		<script type="text/javascript" src="/scripts/p5js/p5.js"></script>
		<script type="text/javascript" src="/scripts/p5js/p5.dom.js"></script>
		<script type="text/javascript" src="/scripts/p5js/p5.play.js"></script>
		<script type="text/javascript" src="/scripts/NewRenderer.js"></script>
		<script type="text/javascript" src="/scripts/clientScript.js"></script>
		<script type="text/javascript" src="/scripts/Shapes.js"></script>
		<script type="text/javascript" src="/scripts/ParticalSystem.js"></script>
	</head>
	<body>
	</body>
</html>
