<!DOCTYPE html>
<html>
	<head>
		<% include HeadView %>
		<title>Login - Plinko.IO</title>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/scripts/clientScript.js"></script>
		<link rel="stylesheet" type="text/css" href="/styles/menu.css">
	</head>
	<body>
		<center>
			<h1>welcome to my crap website lolo</h1><br>
			<div class="chat-container">
				Welcome to this chat room<br>
			</div>
			<input type="text" class="chat-input">
		</center>
	</body>
</html>
